<div class="header pb-8 pt-5 pt-md-8"
    style="min-height: 300px; background-image: url(assets/img/theme/chimborazo.jpg); background-size: cover; background-position: 0px -120px;">
    <span class="mask bg-default opacity-6"></span>
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<div class="container-fluid mt--9" id="table">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h3 class="mb-0">Lista de Países</h3>
                        </div>
                        <div class="col-3 text-right text-default">
                            <a (click)="nuevoPais()" class="btn btn-sm btn-default">Nuevo País</a>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="form-group col-md-3">
                            <label for="nombre">Nombre</label><br>
                            <input type="text" class="form-control" name="nombre" id="nombre"
                                [(ngModel)]="filtro.nombre">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="siglas">Siglas</label><br>
                            <input type="text" class="form-control" name="siglas" id="siglas"
                                [(ngModel)]="filtro.siglas">
                        </div>
                        <div class="form-group col-md-3">
                        </div>
                        <div class="form-group col-md-3">
                            <button class="btn btn-default float-right" (click)="getData()">Buscar</button>
                        </div>
                    </div>
                </div>
                <div class="container" id="tablaPaises" style="display: none;">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1"
                        class="table align-items-center table-flush row-border hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Siglas</th>
                                <th scope="col">Creado</th>
                                <th scope="col">Actualizado</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pais of paises">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">{{ pais.nombre}}</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    {{pais.siglas}}
                                </td>
                                <td>
                                    {{date(pais.audCreatedAt)}} {{time(pais.audCreatedAt)}}
                                </td>
                                <td>
                                    {{date(pais.audUpdatedAt)}} {{time(pais.audUpdatedAt)}}
                                </td>
                                <td>
                                    {{pais.state}}
                                </td>
                                <td class="text-right">
                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" (click)="editarPais(pais)">Editar</a>
                                            <a class="dropdown-item" (click)="activar(pais)"
                                                *ngIf="pais.state.includes('I')">Activar</a>
                                            <a class="dropdown-item" (click)="deletePais(pais)"
                                                *ngIf="pais.state.includes('A')">Eliminar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--9" id="form-pais" style="display: none;">
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8 mb-5 mb-xl-0">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title" *ngIf="isUpdating">Editar información del País</h3>
                    <h3 class="card-title" *ngIf="!isUpdating">Crear nuevo País</h3>
                </div>
                <div class="card-body">
                    <form #formPais="ngForm" ngNativeValidate>
                        <div class="form-group">
                            <label for="nombre">Nombre</label><br>
                            <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="pais.nombre"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="siglas">Siglas</label><br>
                            <input type="text" maxlength="2" class="form-control" name="siglas" id="siglas" [(ngModel)]="pais.siglas"
                                required>
                        </div>
                        <div>
                            <button class="btn btn-secondary float-left" (click)="cancelar(formPais)">Cancelar</button>
                            <button class="btn btn-default float-right" (click)="submit(formPais)">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>