<div class="header pb-8 pt-5 pt-md-8"
    style="min-height: 300px; background-image: url(assets/img/theme/chimborazo.jpg); background-size: cover; background-position: 0px -120px;">
    <span class="mask bg-default opacity-6"></span>
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<div class="container-fluid mt--9">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-10 mb-5 mb-xl-0">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Acerca de Volunclima</h3>
                </div>
                <div class="card-body">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-2">
                            <img src="assets/img/brand/logo2.png" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="col-6">
                            <img src="assets/img/brand/euroclima.png" class="img-fluid" alt="Responsive image">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center align-items-center mt-5">
                        <div class="col-10">
                            <label>
                                La red de observadores voluntarios del clima (Volunclima) ha sido implementada en el
                                marco del proyecto “Euroclima+: Sequías e Inundaciones - Andes”, el cual ha sido
                                financiado con recursos de la Unión Europea y gestionado con el apoyo de la Agencia
                                Española de Cooperación Internacional para el Desarrollo (AECID) y la Agencia Francesa
                                para el Desarrollo (AFD) del componente Gestión de Riesgo.
                                <br><br>
                                La red Volunclima está conformada por ciudadanos de Venezuela, Colombia, Ecuador, Perú,
                                Bolivia y Chile quienes se comprometen a: <br>
                                <ol>
                                    <li> Enviar reportes diarios de precipitación</li>
                                    <li>Enviar reportes mensuales de percepción de impactos de sequía</li>
                                </ol>
                                Los voluntarios reciben capacitación en la instalación y lectura de un pluviómetro
                                calibrado que se les proporciona para que envíen sus reportes de precipitación.
                                El pluviómetro es instalado en el punto de observación del voluntario, lugar donde el
                                usuario realiza sus mediciones. <br><br>
                                Los voluntarios también son capacitados en el monitoreo de la sequía y en el envío del
                                reporte mensual de percepción de sequía. Este reporte no requiere de instrumentación, es
                                un formulario en el cual el observador puede indicar su percepción sobre las condiciones
                                de seis variables meteorológicas y ambientales involucradas en los procesos de sequía en
                                una escala de Likert cuyas respuestas son procesadas para obtener un valor objetivo el
                                cual es empleado para monitorear el estado de sequía. En el reporte, el observador puede
                                enviar comentarios y fotos de impactos de la sequía. <br><br>
                                El apoyo brindado por la red de voluntarios permite mejorar el monitoreo de las
                                precipitaciones, apoyando al sistema de observación meteorológica de los servicios
                                meteorológicos nacionales de su respectivo país. Los reportes de los voluntarios llegan
                                a una base de datos centralizada en la plataforma informática de CIIFEN vía internet a
                                través de una aplicación móvil de sistemas operativos Android. Estos reportes serán
                                compartidos con los servicios meteorológicos nacionales para mejorar el monitoreo de las
                                precipitaciones en el territorio.

                            </label>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-md-10">
                            <h3 class="text-white">¿Qué es la red de observadores voluntarios del clima (Volunclima)?
                            </h3>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jBtJv9NWXvY"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center align-items-center mt-5">
                        <div class="col-10">
                            <label>
                                ¿Tienes alguna consulta o quieres formar parte de Volunclima? Escríbenos a
                                <strong>observadores@ciifen.org</strong>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>