<div class="header pb-8 pt-5 pt-md-8"
    style="min-height: 300px; background-image: url(assets/img/theme/chimborazo.jpg); background-size: cover; background-position: 0px -120px;">
    <span class="mask bg-default opacity-6"></span>
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<div class="container-fluid mt--9" id="table">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h3 class="mb-0">Lista de Reportes de Precipitación</h3>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                        class="table align-items-center table-flush row-border hover">
                        <thead class="thead-light">
                            <tr class="form-group">
                                <th><input type="text" class="form-control" placeholder="Buscar Observador" id="0"
                                        name="buscar-observador" /></th>
                                <th><input type="text" class="form-control" placeholder="Buscar Estación" id="1"
                                        name="buscar-estacion" /></th>
                                <th><input type="text" class="form-control" placeholder="Buscar Fecha" id="2"
                                        name="buscar-fecha" /></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th scope="col">Observador</th>
                                <th scope="col">Estación</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Valor</th>
                                <th scope="col">Comentario</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reporte of reportes">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">{{ reporte.Observador.User.nombre + " " +
                                                reporte.Observador.User.apellido}}</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    {{reporte.Observador.Estacion.nombre }}
                                </td>
                                <td>
                                    {{ date(reporte.fecha)+ " " + time(reporte.fecha)}}
                                </td>
                                <td>
                                    {{reporte.valor}}
                                </td>
                                <td>
                                    {{reporte.comentario}}
                                </td>
                                <td class="text-right">
                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" (click)="{}">Editar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar el valor del registro {{registro.estacion}} {{time(registro.fecha)}} {{date(registro.fecha)}}</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label for="valor">Valor del registro</label><br>
        <input type="number" name="valor" id="valor" class="form-control" [(ngModel)]="registro.valor">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="saveValor();modal.close()">Save</button>
    </div>
</ng-template>-->