<div class="container-fluid mt--9" id="form-cuestionario">
  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title" *ngIf="isUpdating">
            Editar información de cuestionario
          </h3>
          <h3 class="card-title" *ngIf="!isUpdating">
            Crear nuevo cuestionario
          </h3>
        </div>
        <div class="card-body">
          <form #formCuestionario="ngForm" ngNativeValidate>
            <div class="form-group" *ngIf="isUpdating">
              <label for="estacionadmin">Estación*</label><br />
              <input
                type="text"
                class="form-control"
                name="estacionadmin"
                id="estacionadmin"
                value="{{ cuestionario.Observador.Estacion.nombre }}"
                required
                disabled
              />
            </div>
            <div class="form-group" *ngIf="!isUpdating">
              <label for="estacion">Estación*</label><br />
              <select
                name="estacion"
                id="estacion"
                class="form-control"
                [(ngModel)]="cuestionario.estacion"
                required
              >
                <option
                  *ngFor="let estacion of estaciones"
                  [value]="estacion.id"
                >
                  {{ estacion.nombre }}
                </option>
              </select>
            </div>
            <div class="form-group" *ngIf="isUpdating">
              <label for="fechaadmin">Fecha*</label><br />
              <input
                type="text"
                class="form-control"
                name="fechaadmin"
                id="fechaadmin"
                value="{{ date(cuestionario.fecha) }}"
                required
                disabled
              />
            </div>
            <div class="form-group" *ngIf="!isUpdating">
              <label for="fechaInicio">Fecha*</label><br />
              <input
                type="date"
                class="form-control"
                name="fechaInicio"
                id="fechaInicio"
                [(ngModel)]="cuestionario.fecha"
                required
              />
            </div>
            <div class="form-group">
              <label for="respSuelo">Condición de suelo*</label><br />
              <select
                name="respSuelo"
                id="respSuelo"
                class="form-control"
                [(ngModel)]="cuestionario.respSuelo"
                required
              >
                <option value="1">Saturado</option>
                <option value="2">Húmedo</option>
                <option value="3">Subhúmedo</option>
                <option value="4">Normal</option>
                <option value="5">Seco</option>
                <option value="6">Muy Seco</option>
                <option value="7">Erosionable</option>
              </select>
            </div>
            <div class="form-group">
              <label for="respVeg">Condición de la vegetación*</label><br />
              <select
                name="respVeg"
                id="respVeg"
                class="form-control"
                [(ngModel)]="cuestionario.respVeg"
                required
              >
                <option value="1">Clorótica/Aguachinada</option>
                <option value="2">
                  Verde pálido/perdió la intensidad del verdor
                </option>
                <option value="3">Normal (Verde intenso)</option>
                <option value="4">
                  Verde Azulado (Condición de estrés hídrica)
                </option>
                <option value="5">Marchitez sin defoliación</option>
                <option value="6">Marchitez con defoliación</option>
                <option value="7">Marchitez permanente (muerte)</option>
              </select>
            </div>
            <div class="form-group">
              <label for="respPrec">Lluvias percibidas*</label><br />
              <select
                name="respPrec"
                id="respPrec"
                class="form-control"
                [(ngModel)]="cuestionario.respPrec"
                required
              >
                <option value="1">Mucho más de lo normal</option>
                <option value="2">Más de lo normal</option>
                <option value="3">Poco más de lo normal</option>
                <option value="4">Normal</option>
                <option value="5">Poco menos que lo normal</option>
                <option value="6">Menos que lo normal</option>
                <option value="7">Mucho menos que lo normal</option>
              </select>
            </div>
            <div class="form-group">
              <label for="respTempPrec"
                >Temporalidad de las precipitaciones*</label
              ><br />
              <select
                name="respTempPrec"
                id="respTempPrec"
                class="form-control"
                [(ngModel)]="cuestionario.respTempPrec"
                required
              >
                <option value="1">Muy adelantadas</option>
                <option value="2">Más adelantadas de lo normal</option>
                <option value="3">Poco más adelantadas de lo normal</option>
                <option value="4">Normal</option>
                <option value="5">Ligeramente retrasadas de lo normal</option>
                <option value="6">Más retrasadas de lo normal</option>
                <option value="7">Muy retrasadas</option>
              </select>
            </div>
            <div class="form-group">
              <label for="respTemps">Temperaturas observadas*</label><br />
              <select
                name="respTemps"
                id="respTemps"
                class="form-control"
                [(ngModel)]="cuestionario.respTemps"
                required
              >
                <option value="1">Mucho más frío de lo normal</option>
                <option value="2">Más frío de lo normal</option>
                <option value="3">Poco más frío de lo normal</option>
                <option value="4">Normal</option>
                <option value="5">Poco más cálido que lo normal</option>
                <option value="6">Más cálido que lo normal</option>
                <option value="7">Mucho más cálido que lo normal</option>
              </select>
            </div>
            <div class="form-group">
              <label for="respGana"
                >Disponibilidad de agua para el ganado*</label
              ><br />
              <select
                name="respGana"
                id="respGana"
                class="form-control"
                [(ngModel)]="cuestionario.respGana"
                required
              >
                <option value="1">Mucho más que suficiente</option>
                <option value="2">Más que suficiente</option>
                <option value="3">Poco más que suficiente</option>
                <option value="4">Sufuciente</option>
                <option value="5">Poco menos que suficiente</option>
                <option value="6">Menos que suficiente (escasa)</option>
                <option value="7">Mucho menos que suficiente</option>
              </select>
            </div>
            <div class="form-group">
              <label for="comentario">Comentario</label><br />
              <textarea
                name="comentario"
                id="comentario"
                class="form-control"
                [(ngModel)]="cuestionario.comentario"
              ></textarea>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label for="file">Archivo</label><br />
                <input
                  *ngIf="uploader.queue.length < 4"
                  type="file"
                  class="input-group custom-file-upload mb-4"
                  ng2FileSelect
                  [uploader]="uploader"
                  accept=".jpg, .jpeg, .png"
                  multiple
                />
              </div>
              <div class="col-12" *ngIf="uploader.queue.length != 0">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Tamaño</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of uploader.queue">
                      <td scope="row" class="text-wrap">
                        <strong>{{ item?.file?.name }}</strong>
                      </td>
                      <td *ngIf="uploader.options.isHTML5" nowrap>
                        {{ item?.file?.size / 1024 / 1024 | number: ".2" }} MB
                      </td>
                      <td class="text-center">
                        <span *ngIf="item.isUploading"
                          ><i class="fa fa-spinner"></i
                        ></span>
                        <span *ngIf="item.isSuccess"
                          ><i class="fa fa-check-circle"></i
                        ></span>
                        <span *ngIf="item.isCancel"
                          ><i class="fa fa-times-circle text-black"></i
                        ></span>
                        <span *ngIf="item.isError"
                          ><i class="fa fa-exclamation-circle text-black"></i
                        ></span>
                      </td>
                      <td nowrap>
                        <button
                          type="button"
                          class="btn btn-danger btn-xs"
                          (click)="item.remove()"
                        >
                          <span class="fa fa-trash"></span> Eliminar
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="progress-wrapper pt-0">
                  <div class="progress-info">
                    <div class="progress-label">
                      <span>Progreso</span>
                    </div>
                    <div class="progress-percentage">
                      <span>{{ uploader.progress + "%" }}</span>
                    </div>
                  </div>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      [ngStyle]="{ width: uploader.progress + '%' }"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <button
                class="btn btn-secondary float-left"
                (click)="cancelar(formCuestionario)"
              >
                Cancelar
              </button>
              <button
                class="btn btn-default float-right"
                (click)="saveCuestionario(formCuestionario)"
              >
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
