<div class="container-fluid mt--9" id="form-precipitacion">
  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title" *ngIf="isUpdating">
            Editar información de reporte
          </h3>
          <h3 class="card-title" *ngIf="!isUpdating">Crear nuevo reporte</h3>
        </div>
        <div class="card-body">
          <form #formReporte="ngForm" ngNativeValidate>
            <div class="form-group" *ngIf="isUpdating">
              <label for="estacionadmin">Estación*</label><br />
              <input
                type="text"
                class="form-control"
                name="estacionadmin"
                id="estacionadmin"
                value="{{
                  reporte.Observador.Estacion.nombre +
                    ' (' +
                    reporte.Observador.Estacion.codigo +
                    ')'
                }}"
                required
                disabled
              />
            </div>
            <div class="form-group" *ngIf="!isUpdating">
              <label for="estacion">Estación*</label><br />
              <select
                name="estacion"
                id="estacion"
                class="form-control"
                [(ngModel)]="reporte.estacion"
                required
              >
                <option
                  *ngFor="let estacion of estaciones"
                  [value]="estacion.id"
                >
                  {{ estacion.nombre }} ({{ estacion.codigo }})
                </option>
              </select>
            </div>
            <div class="form-group" *ngIf="isUpdating">
              <label for="fechaadmin">Fecha*</label><br />
              <input
                type="text"
                class="form-control"
                name="fechaadmin"
                id="fechaadmin"
                value="{{ date(reporte.fecha) }}"
                required
                disabled
              />
            </div>
            <div class="form-group" *ngIf="!isUpdating">
              <label for="fecha">Fecha*</label><br />
              <input
                type="datetime-local"
                max="{{ maxDate }}T23:59"
                class="form-control"
                name="fecha"
                id="fecha"
                [(ngModel)]="reporte.fecha"
                required
              />
            </div>
            <div class="form-group">
              <label for="valor">Valor*</label><br />
              <input
                type="number"
                max="500"
                min="0"
                step="0.1"
                class="form-control"
                name="valor"
                id="valor"
                [(ngModel)]="reporte.valor"
                (focusout)="setDecimals()"
                required
                *ngIf="reporte.valor != -888"
              />
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  name="traza"
                  [checked]="reporte.valor == -888"
                  id="traza"
                  (change)="traza()"
                />
                <label class="form-check-label" for="traza">Traza</label>
              </div>
            </div>
            <div class="form-group">
              <label for="comentario">Comentario</label><br />
              <textarea
                name="comentario"
                id="comentario"
                class="form-control"
                [(ngModel)]="reporte.comentario"
                maxlength="300"
              ></textarea>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-secondary float-left"
                (click)="cancelar(formReporte)"
              >
                Cancelar
              </button>
              <button
                class="btn btn-default float-right"
                (click)="saveReporte(formReporte)"
              >
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
